body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
    text-align: center;
}

p{
    color: blue;
    text-align: center;
}

button {
    color: red;
    background-color: yellow;
    height: 5rem;
    width: 10rem;
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;

}

button:hover {
    border: 2px solid orange;
    color: orange;
    background-color: transparent;
}

a{
    text-decoration: none;
    color: orange;
    font-sze: 25px;
}
